<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ChatMapper">

	<select id="chatList" parameterType="chatvo">
		SELECT *
		FROM chat
		WHERE ( (from_id = #{from_id} AND to_id = #{to_id})
		OR (from_id = #{to_id} AND to_id = #{from_id}) )
		AND chat_id > #{chat_id}
		ORDER BY chat_time
	</select>
</mapper>