<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="AdminMapper">

<!-- 가맹점 전체 리스트 -->
<select id="getMemberList" resultType="member">
	select 	* from 	member where level1=2
</select>

<!-- 가입승인 대기 리스트 -->
<select id="getMemberWaitList" resultType="member">
	select 	* from 	member where level1=3
</select>

<!-- 승인 처리 -->
<update id="memberLevelUpdate" parameterType="member" >
	update member set level1 = 2 where id = #{id,jdbcType=VARCHAR}
</update>

<!-- 반려 처리 -->
<delete id="memberrefuse">
	delete from member where id = #{id}
</delete>

<select id="unOrderHistory" resultType="HashMap">
	select o.*, m.id,m.business_name
	from  orders o
	join member m
	on o.id = m.id
	where o.order_status = 1
	order by order_no asc
</select>

<select id="getMemberM" parameterType="member" resultType="member">
	select * from member where id = #{id}
</select>

<select id="getOrderM" parameterType="order" resultType="order">
	select m.id, o.order_no, o.total_price, o.order_status, d.detail_no, d.purchase_amount, p.product_no, p.price,p.product_name, ps.product_quantily
    from order_detail d
    inner join product p
    on d.product_no=p.product_no
    inner join orders o
    on d.order_no=o.order_no
    inner join member m
    on o.id=m.id
    inner join product_stock ps
    on ps.product_no = p.product_no
    where o.id = #{id}
</select>
</mapper>