<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="BoardMapper">

<!-- 공지 리스트 -->
<select id="gerNotiList" resultType="noti">
	select 	* from 	notice order by noti_no desc
</select>
<!-- 공지 쓰기 -->
<insert id="insertNoti" parameterType="noti"> 
	insert into notice(noti_no, id, noti_title, writer, noti_content) values ((select nvl(max(noti_no),0) + 1 from notice),#{id},#{noti_title},#{writer},#{noti_content})
</insert>
<!-- 공지 조회수 카운트 -->
<update id="notiCntCount" parameterType="noti">
 	update notice set cnt = cnt + 1 where noti_no = #{noti_no}
</update>
<!-- 공지 상세보기 -->
<select id="detailNoti" parameterType="noti" resultType="noti">
	select noti_title, noti_content,noti_no from notice where noti_no = #{noti_no}
</select>
<!-- 공지사항 업데이트 -->
<update id="updateNoti" parameterType="noti">
	update notice set noti_title = #{noti_title}, noti_content = #{noti_content} where noti_no = #{noti_no}
</update>
<!-- 공지사항 삭제 -->
<delete id="notidelete" parameterType="noti">
	delete from notice where noti_no = #{noti_no}
</delete>

</mapper>