<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CategoryMapper">

	<select id="getMainCategory" resultType="category">
		SELECT
			main_category,
			main_name
		FROM
			main_category
	</select>
	
	<select id="getSubCategory" resultType="category">
		SELECT
			sub_category,
			main_category,
			sub_name
		FROM
			sub_category
	</select>

</mapper>