<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CategoryMapper">

	<select id="getCategoryList" resultType="category">
		SELECT
			m.main_category,
			m.main_name,
			s.sub_name,
			s.sub_category
		FROM
			sub_category s inner join
			main_category m on s.main_category=m.main_category
	</select>

</mapper>