<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="StockMapper">

<select id="getProductList" resultType="product">
	select * from product order by add_day desc
</select>

<select id="getProductListC" parameterType="category" resultType="product">
	select * from product where sub_category=#{sub_category}
</select>

</mapper>